<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>John's Petitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <script th:src="@{/js/bootstrap.bundle.js}"></script>

</head>
<body>
<h1>Welcome to John's Petitions</h1>
<p>This is the home page served by Spring Boot and Thymeleaf.</p>

<p th:text="'Current time: ' + ${#dates.format(#dates.createNow(), 'HH:mm:ss')}"></p>

<p><a th:href="@{/createPetition}">Create a new petition</a></p>
<p><a th:href="@{/searchPetition}">Search for a petition</a></p>
<p><a th:href="@{/allPetitions}">All petitions</a></p>
</body>
</html>
